@font-face {
font-family: 'inter';
src: url('../fonts/inter/Inter-Thin.ttf') format('truetype');
font-weight: 100;
font-style: normal;
}
@font-face {
font-family: 'inter';
src: url('../fonts/inter/Inter-ExtraLight.ttf ') format('truetype');
font-weight: 200;
font-style: normal;
}
@font-face {
font-family: 'inter';
src: url('../fonts/inter/Inter-Light.ttf') format('truetype');
font-weight: 300;
font-style: normal;
}
@font-face {
font-family: 'inter';
src: url('../fonts/inter/Inter-Regular.ttf') format('truetype');
font-weight: 400;
font-style: normal;
}
@font-face {
font-family: 'inter';
src: url('../fonts/inter/Inter-Medium.ttf') format('truetype');
font-weight: 500;
font-style: normal;
}
@font-face {
font-family: 'inter';
src: url('../fonts/inter/Inter-SemiBold.ttf') format('truetype');
font-weight: 600;
font-style: normal;
}
@font-face {
font-family: 'inter';
src: url('../fonts/inter/Inter-Bold.ttf') format('truetype');
font-weight: 700;
font-style: normal;
}
@font-face {
font-family: 'inter';
src: url('../fonts/inter/Inter-ExtraBold.ttf') format('truetype');
font-weight: 800;
font-style: normal;
}
@font-face {
font-family: 'inter';
src: url('../fonts/inter/Inter-Black.ttf') format('truetype');
font-weight: 900;
font-style: normal;
}
@font-face {
font-family: 'DMSerifDisplay';
src: url('../fonts/DMSerifDisplay/DMSerifDisplay-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'DMSerifDisplay';
src: url('../fonts/DMSerifDisplay/DMSerifDisplay-Italic.ttf') format('truetype');
font-weight: normal;
font-style: italic;
}

@font-face {
font-family: 'Loverica';
src: url('../fonts/Loverica/Loverica.otf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Loverica';
src: url('../fonts/Loverica/Loverica-Bold.otf') format('truetype');
font-weight: bold;
font-style: normal;
}
@font-face {
font-family: 'Loverica';
src: url('../fonts/Loverica/Loverica-BoldItalic.otf') format('truetype');
font-weight: bold;
font-style: italic;
}
@font-face {
font-family: 'Philosopher';
src: url('../fonts/Philosopher/Philosopher-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Philosopher';
src: url('../fonts/Philosopher/Philosopher-Bold.ttf') format('truetype');
font-weight: bold;
font-style: normal;
}
@font-face {
font-family: 'Philosopher';
src: url('../fonts/Philosopher/Philosopher-Italic.ttf') format('truetype');
font-weight: normal;
font-style: italic;
}
@font-face {
font-family: 'Philosopher';
src: url('../fonts/Philosopher/Philosopher-BoldItalic.ttf') format('truetype');
font-weight: bold;
font-style: italic;
}
