/* common.css */
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap');

:root {
    --background: #732A28;
    --backgroundOverlay: rgba(115, 42, 40,0.9);
    --banner: rgba(38, 14, 13,0.5);
    --links: #D4B06A;
    --cardBackground: #0D0D0D;
}
img {
    object-fit: cover;
    object-position: center center;
}

body {
    font-family: Philosopher;
    margin: 0px;
    background: 
        linear-gradient(var(--backgroundOverlay), var(--backgroundOverlay)),
        url('/media/images/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}
p, h1, h2, h3, h4, h5, h6, div, span {
    font-family: Philosopher;
}
/* body::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--backgroundOverlay);
    z-index: 0;
}
body > * {
  position: relative;
  z-index: 1;
} */
.navbarcontainer {
    position: sticky;
    width: 100%;
    margin: 0px;
    margin-bottom: 100px;
    padding: 0px;
    top: 0px;
    left: 0px;
    z-index: 5;
}
.navbar {
    padding-top: 10px; padding-bottom: 10px;
    background-color: rgb(255,255,255);
}

.navbarcontent {
    height: 100%;
    display: flex;
    align-items: center;
    border-top: 5px solid var(--background);
    border-bottom: 5px solid var(--background);
    /* margin-top: 10px; margin-bottom: 10px; */
    margin-left: 0; margin-right: 0;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 25px;
}
.title {
    font-family: DMSerifDisplay;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: white;
}
.title.centered {
    text-align: center;
}
h1.title {
    font-size: 128px;
}
h2.title {
    font-size: 40px;
}
.title.navbar {
    font-size: 50px;
    text-align: center;
    flex: 1;
    margin-left: -110px;
}
#homepagedate {
    text-align: center;
    font-size: 20px; 
    font-family: DMSerifDisplay;
    font-weight: normal;
    color: white;
}
.navbarlinks {
    width: min-content;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 20px;
    margin-left: 20px;
    border-bottom: 2px solid white;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
p, h3, h4, h5, h6 {
    color: white;
}
.banner {
    background-color: var(--banner);
    /* position: absolute; */
    width: calc(100% - 100px);
    padding: 50px;
}
.banner.content {
    width: calc(100% - 50px);
    padding: 25px;
}
.banner.content p {
    font-size: 20px;
}



.columnizer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.columnCenterer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1.header {
    font-family: Loverica;
    color: white;
    text-align: center;
    font-size: 70px;
}
h2.header {
    font-family: Loverica;
    color: white;
    text-align: left;
    font-size: 40px;
    margin-bottom: 0;
}

.label {
    font-family: Loverica;
    color: white;
    text-align: center;
}
.committeeLogo {
    object-fit: contain;
    object-position: center center;
    width: 225px;
    height: 200px;
    mix-blend-mode: luminosity;
    filter: saturate(20);
    transition-property: transform, mix-blend-mode;
    transition-duration: 0.2s;
}
.committeeLogo:hover {
    mix-blend-mode: normal;
    filter: none;
    transform: translateY(-3px);
}

.committeeLogo.background {
    position: absolute;
    right: -200px;
    top: 130px;
    z-index: -1;
    height: 1000px;
    width: 1000px;
    opacity: 0.2;
}

.cardgrid {
    display: flex;
    gap: 45px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card {
    background-color: var(--cardBackground);
    aspect-ratio: 243/361;
    padding: 25px;
    border-radius: 8px;
    max-width: 243px;
    box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.25);
    transition-duration: 0.2s;
}
.card:hover {
    transform: translateY(-2px);
}
.card.landscape {
    aspect-ratio: 367/139;
    max-width: 410px;
    display: flex;
    flex-direction: row;
}
.cardImage {
    aspect-ratio: 195/211;
    width: 100%;
    border-radius: 8px;
    background-color: white;
}
.cardPfp {
    aspect-ratio: 1/1;
    /* width: 113px;
    height: 113px; */
    border-radius: 8px;
}
.card p {
    text-align: center;
}
.card.landscape p {
    text-align: left;
}

.cardMain {
    color: white;
}
@keyframes cardSubHide {
    from {
        max-height: 500px;
        opacity: 1;
        display: block;
    }
    to {
        max-height: 0px;
        opacity: 0;
        display: none;
    }
}
@keyframes cardSubShow {
    from {
        max-height: 0px;
        opacity: 0;
        display: none;
    }
    to {
        max-height: 500px;
        opacity: 1;
        display: block;
    }
}

.cardSub {
    color: gray;
    animation: cardSubShow 0.3s forwards linear;
}
.cardSub.hidden {
    animation: cardSubHide 0.3s forwards linear;
}
.cardBtn {
    height: 25px;
    font-size: 15px;
}
.cardBtn.landscape {
    height: 20px;
    font-size: 13px;
}

.schedule-square {
    width: 270px;
    height: 55px;
    background-color: white;
    border: 5px black solid;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition-duration: 0.2s;
}
.schedule-square:hover {
    box-shadow: 0px 4px 12px 0px rgba(255, 255, 255, 0.25);
}
.schedule-content {
    font-family: Philosopher;
    font-size: 20px;
    color: black;
    margin: 0px;
    padding: 0px;
}
.schedule-content.sub {
    font-size: 15px;
}
.schedule-vertical-line {
    max-width: 0px;
    border: 3px solid black;
    height: 16px;
}
.schedule-vertical-line-invisible {
    display: none;
}
.comitteename {
    font-family: Philosopher;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}
.albumdesc {
    font-family: Philosopher;
    font-weight: normal;
    text-align: center;
    font-size: 20px;
    color: rgb(191, 191, 191);
    margin-top: 0px;
}
#mobilenavtoggle {
    aspect-ratio: 1/1;
    height: 70px;
    width: 70px;
    font-size: 50px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
}


#mobilenavdrawer {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(105, 105, 105, 0.5);
    z-index: 6;
    display: flex;
    transition: background-color 0.3s ease-in-out, tranform 0.5s ease-in-out;
    transform: translateX(0%);
    /* box-shadow: 20px 0px 50px 1px gray, inset -11px 0px 10px 1px lightgray; */
}
#mobilenavdrawer[hidden] {
    display: flex;
    background-color: rgba(105, 105, 105, 0);
    transform: translateX(-100%);
}
#mobilenavdrawercontent {
    background-color: black;
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* transition: transform 0.3s ease-in-out; */
    transform: translateX(0%);
}
#mobilenavdrawercontent[hidden] {
    display: flex;
    /* transition: transform 0.3s ease-in-out; */
    transform: translateX(-100%);
}



@media (max-width: 1000px) {
    .title.navbar {
        margin: 0;
    }
    .navbarcontent {
        padding-right: 25px;
    }
    .committeeLogo.background {
        aspect-ratio: 1/1;
        width: 100%;
        right: 0px;
        background-position: right 50% top;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
/* New Styles END */



.subnavbar {
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.subnavbar.mobile {
    display: flex;
    align-items: unset;
    flex-direction: column;
    justify-content: center;
}

.subnavbar.right {
    justify-content: end;
    width: 60%;
}

.subnavbar.left {
    width: 40%;
}

#navbarleft {
    display: flex;
    align-items: end;
}

#navbarright {
    display: flex;
    align-items: center;
}



/* a {
    text-decoration: none;
    color: black;
    transition-duration: 0.1s;
}
*/
a:hover {
    color: var(--links);
}
a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 15px;
  position: relative;
}
.headertext {
    margin-right: 50px; 
    font-weight: 300;
    color: white;
}
.headertext.mobile {
    margin-right: 0px;
    margin-top: 25px;
    text-align: center;
    font-size: 38px;
}
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--links);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
  color: var(--links);
}
.Title {
    font-family: inter; 
    font-weight: 500; 
    font-size: 30px;
}
.subtlelink {
    transition: none;
    border: none;
    padding: 0px;
    background: none;
    color: black;
}
.subtlelink:hover {
    transition: none;
    border: none;
    padding: 0px;
    background: none;
    color: black;
}
.subtlelink:hover:after {
    transition: none;
    border: none;
    padding: 0px;
    background: none;
    color: black;
}
.subtlelink:after {
    transition: none;
    border: none;
    padding: 0px;
    background: none;
    color: black;
}

.amicfont {
    font-family: Stick No Bills;
}

.dropdownoptions {
    height: 50px;
    display: flex;
    padding: 0px;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 142px;
    background-color: white;
}
.dropdownoptions.drawer {
    height: 50px;
    display: flex;
    padding: 0px;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    border: none;
    width: auto;
    background-color: transparent;
}


footer {
    background-color: black;
}

.footertext {
    text-align: right;
}

.flexcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flexchild {
    flex-basis: calc(100% / 3);
    max-width: 250px;
}
#day1, #day2 {
    height: 500px;
}
.halfflexchild {
    flex-basis: 50%;
}
/*
.card {
    aspect-ratio: 20/27;
    max-width: 240px;
    background-color: white;
    margin-bottom: 50px;
    flex-basis: calc( 100% / 3);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.card.small {
    max-width: 220px;
}
.cardimage {
    width: 200px;
    object-fit: cover;
    object-position: center center;
}
.cardimage.small {
    width: 170px;
}
.expandableheader {
    margin-bottom: 0px;
}
/* .header {
    font-family: inter;
    font-weight: 400;
    font-size: 30px;
} 
.subheader {
    font-family: inter;
    font-weight: 300;
    font-size: 16px;
}
.cardtitle {
        font-family: inter;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
    }

    .cardemail {
        font-family: inter;
        font-size: 14;
        font-weight: 200;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
        max-width: 240px;
    }

    .cardbody {
        font-family: inter;
        font-size: 14px;
        font-weight: 200;
        text-align: center;
    }
    */
.expandable {
    border-bottom: 1px solid black;
    width: calc(100% - 170px);
    max-height: 150px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    transition-property: max-height, padding, background-color;
    transition-duration: 0.3s, 0.3s, 0.1s;
    cursor: pointer;
}

.expandable.large {
    max-height: 1520px;
    border-bottom: none;
}

.expandable.dropdown {
    max-height: 480px;
    border: none;
    margin-left: 0px;
    transition-property: max-height, padding, background-color;
}
.expandable.dropdown[hidden] {
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;
    max-height: 0px;
    border: none;
}
.expandable:active {
    background-color: rgba(168, 168, 168, 0.1);
}

.expandable[hidden] {
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;
    max-height: 50px;
}
.expandable.large[hidden] {
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;
    max-height: 420px;
}


.desktopmargin {
    margin-left: 35px;
}
.desktopmarginright {
    margin-left: 85px;
    margin-right: 85px;
}
.schedules {
    width: 466px;
    aspect-ratio: 466/468;
}

@media (max-width: 1000px) {
    .desktopmargin {
        margin-left: 15px;
    }
    .desktopmarginright {
        margin-left: 15px;
        margin-right: 15px;
    }
     .subrootcontainer {
        /* display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%; */
        background-color: rgba(255,255,255,0.9);
    } 
    .flexcontainer {
        flex-direction: column;
    }
    .footertext {
        text-align: left;
    }
    #navbar {
        display: none;
    }
    #mobilenavbar {
        display: block;
    }
    #day1, #day2 {
        height: 350px;
    }
    .halfflexchild {
        flex-basis: unset;
    }
    /*
    .card {
        padding: 00px;
        margin: 50px;
        max-width: none;
        width: 80%;
    }
    .card.small {
        padding: 20px;
        margin: 50px;
        max-width: none;
        width: 70%;
    }
    .cardimage.small {
        width: 80%;
        margin-top: 25px;
    }
    .cardimage {
        margin-top: 25px;
        width: 80%;
        max-width: 327px;
    }*/
    .expandable {
        max-height: 750px;
        width: calc(100% - 50px);
    }
    .expandable[hidden] {
        max-height: 85px;
    }
    .expandableheader {
        margin-bottom: 20px;
    }
}
footer {
    background-color: black;
}

footer .flexcontainer {
    justify-content: space-between;
}
footer a {
    text-decoration: none;
    color: white;
    transition-duration: 0.1s;
}

footer a:hover {
    color: #35599b;
}

footer p {
    color: white;
    font-family: inter;
}

footer svg {
    margin: 0px 10px;
}


/* style.css */


.root {
    width: 100%;
    height: 100%;
    padding-top: 160px;
}

.subroot {
    
}
.timeheader {
    font-family: inter;
    font-size: 60px;
    font-weight: 300;
}

td {
    text-align: center;
    padding-right: 30px;
    font-family: inter;
    font-size: 15px;
    font-weight: 300;
}

button {
    background-color: white;
    aspect-ratio: 235/46;
    border: none;
    border-radius: 2px;
    font-family: inter;
    font-weight: 300;
    color: black;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    transition-duration: 0.3s;
}

button:hover {
    box-shadow: none;
    transform: translateY(1px);
    color: var(--links);
}

button:active {
    box-shadow: none;
    transform: translateY(2px);
}
.backdrop {
    background-color: rgba(105, 105, 105, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    z-index: 6;
}
.imageViewerWindow {
    background-color: white;
    height: 90%;
    width: 90%;
}
.imageViewerToolbar {
    background-color: white;
    height: 30px;
    width: 100%;
    box-shadow: 0px 1px 10px -1px gray;
    display: flex;
    flex-direction: row;
}
.imageViewerToolbarContent {
    width: 50%;
    display: flex;
    margin: 5px;
}
.imageViewerToolbarContent.right {
    justify-content: end;
}
.imageViewerToolbarContent.left {
    justify-content: start;
}


.centerer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cardrow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    gap: 80px;
}


.cardcontent {
    display: block;
}

.cardimage {
    aspect-ratio: 100/133;
}

.moreinfo {
    font-family: inter;
    font-size: 14px;
    font-weight: 400;
    padding: 25px;
    max-height: 650px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    transition-property: max-height, padding;
}

.moreinfo[hidden] {
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;
    max-height: 0px;
}

svg {
    transition: transform 0.2s ease-in-out;
}

@keyframes navbarmoveback {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}
@keyframes navbarmovefront {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

.contact-container {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-items: start;
}
.schedule-bubble {
    height: 32px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    max-width: 326px;
}
.schedule-spacer {
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    max-width: 326px;
    opacity: 0;
    height: 72px;
}

.schedule-line {
    max-height: 0px;
    border: 1px solid black;
    flex: 1;
}

.schedule-circle {
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: black;
}

.schedule-centerer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}